syntax: glob

# Tools directory
.dotnet/
.packages/
.tools/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
artifacts/
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.binlog

# Visual Studio
.vs/

# Rider
.idea/
